.factory_component {
    border: 1px solid black;
}
a {
    color: black !important;
    text-decoration: none !important;
}
.coal_container div {
    background-image: url("../img/coal.jpeg");
   background-size: cover;
    background-repeat: no-repeat;
    height: 125px !important;
    width: 150px !important;
}