.factory_component {
    border: 1px solid black;
}
a {
    color: black !important;
    text-decoration: none !important;
}
.item {
    height: 125px !important;
    width: 150px !important;
}
.coal div {
    background-image: url("../img/coal.jpeg");
   background-size: cover;
    background-repeat: no-repeat;

}
.iron div {
    background-image: url("../img/ironore.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.iron_plate div {
    background-image: url("../img/ironplate.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}