/**
{border: 1px black solid;}*/
.search_button_sm button{
    border-color:#6c757d !important;
    border-left: 0 !important;
    height: 24px !important;
    box-sizing: border-box !important;
    font-size: 16px;
    padding-top: 0 !important;
    padding-bottom: 12px !important;
    padding-right: 6px !important;
    color: black;
}
.navbar_links_two {
    min-width: 16rem !important;
    min-height: 5rem !important;
}
.navbar_links_two input{
    border-right: 0 !important;
    border-color: #6c757d !important;
    height: 24px !important;
    font-size: 16px !important;
}
.search_bar_container{
    box-sizing: border-box;
}
.search_button_sm {
    height: 22px !important;
}
@media only screen and (max-width: 568px) {
    /* .drop_items {
         box-sizing: content-box !important;
     }*/

     .navbar_links_one {
         /*right: 120px !important;*/
         left: -112px !important;
         top: 47px !important;
     }
    .navbar_links_two {
        left: -200px !important;
        top: 47px !important;
    }




}